<div class="col s1 section"></div>

<div class="container">
    <div class="row">
        <div class="col s8 offset-s2">
            <div class="card-panel center-align">
                <h5>Register</h5>
                <form action="">
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="email" class="validate" name="" id="email" required>
                            <label for="email">Email</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input type="password" class="validate" name="" id="password" required>
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <button class="btn">Register</button>
                    </div>
                </form>
                <div class="row">
                    <a href="/auth/login">Already have an account?</a>
                </div>
            </div>
        </div>
    </div>
</div>