<div class="col s5">
    <div class="card">
        <div class="card-content">
            <h5>My self-summary</h5>
            <p>{{about}}</p>
        </div>
        <div class="card-action">
            <div class="row valign-wrapper">
                <div class="col s12 center-align">
                    <a id="aboutEditBtn" href="https://localhost:5000/user/profile?aboutEdit=true"><i class="fas fa-edit"></i> Edit</a>
                </div>
            </div>
        </div>
    </div>
</div>