<div class="col s5">
    <div class="card">
        <div class="card-content">
            <h5>My self-summary</h5>
            <div id="toolbar"></div>
            <div id="editor"></div>
            <form action="POST" id="aboutEditForm">
                <input id="aboutHiddenInput" type="text" name="about" value="{{about}}" hidden="hidden">
            </form>
        </div>
        <div class="card-action">
            <div class="row valign-wrapper">
                <div class="col s12 center-align">
                    <a id="aboutSaveBtn" href="#"><i class="fas fa-edit"></i> Save</a>
                </div>
            </div>
        </div>
    </div>
</div>