<div class="row">
<nav class="grey darken-3">
    <div class="container">
        <div class="nav-wrapper">
        <a href="/dashboard" class="brand-logo center">Matcha</a>
        <a href="#" data-activates="main-menu" class="button-collapse show-on-large"><i class="fa fa-bars"></i></a>
            <ul class="right hide-on-small-only">
                {{#if user}}
                    <li>
                        <a href="/dashboard">Welcome {{user.firstName}}</a>
                    </li>
                    <li>
                        <a href="/auth/logout"><i class="fas fa-sign-out-alt"></i>Logout</a>
                    </li> 
                {{/if}}
            </ul>
            <ul class="side-nav" id="main-menu">
                {{#unless user}}
                <li>
                    <a class="btn red darken-1" href="/auth/google"><i class="fab fa-google left"></i> Google Login</a>
                </li>
                <li>
                    <a class="btn pink darken-1" href="/auth/instagram"><i class="fab fa-instagram left"></i> Instagram Login</a>
                </li>
                {{else}}
                <li>
                    <a href="/dashboard"><i class="fa fa-cog"></i> Dashboard</a>
                </li>
                <li>
                    <a href="/profiles/my"><i class="far fa-user"></i> Profile</a>
                </li>
                <li>
                    <a href="/auth/logout"><i class="fas fa-sign-out-alt"></i>Logout</a>
                </li>
                {{/unless}}
            </ul>
        </div>
    </div>
</nav>
</div>

