<div class="collection">
            <a href="#!" class="input-field collection-item grey-text text-lighten-2 grey darken-3">
                <form action="" class="flow-text">
                    <input type="text" id="search">
                    <label for=""><i class="fas fa-search right"></i></label>
                </form>
            </a>
            <a href="#!" class="collection-item grey-text text-lighten-2 grey darken-3"><i class="fas fa-comments"></i> Chat</a>
            <a href="/matcha" class="collection-item grey-text text-lighten-2 grey darken-3"><i class="fas fa-heart"></i> Matcha</a>
            <a href="#!" class="collection-item grey-text text-lighten-2 grey darken-3"><i class="fas fa-bell"></i> Notifications</a>
            <a href="#!" class="collection-item grey-text text-lighten-2 grey darken-3"><i class="fas fa-cog"></i> Settings</a>
</div>