<div class="row">
    <div class="card-panel col s6 offset-s3 center-align">
        <h5>Update Info</h5>
        <form action="/user/forms/info/update" method="POST">
            <div class="row">
                <div class="input-field col s6">
                    <input type="text" class="validate" name="firstName" id="firstName" required>
                    <label for="firstName">First Name</label>
                </div>
                <div class="input-field col s6">
                    <input type="text" class="validate" name="lastName" id="lastName" required>
                    <label for="lastName">Last Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" class="validate" name="orientation" id="orientation" required>
                    <label for="orientation">Orientation</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" class="validate" name="ethnicity" id="ethnicity" required>
                    <label for="ethnicity">Ethnicity</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" class="validate" name="height" id="height" required>
                    <label for="height">Height</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" class="validate" name="bodyType" id="bodyType" required>
                    <label for="bodyType">Body Type</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" class="validate" name="diet" id="diet" required>
                    <label for="diet">Diet</label>
                </div>
            </div>

            <div class="section"></div>
            <button class="btn" type="submit">Update</button>
            <div class="section"></div>
        </form>
    </div>
</div>