<div class="row">
    <div class="card-panel col s3">
        {{>_navpanel}}
    </div>

    <div class="col s6">
        <div class="card-panel">
            <div class="row valign-wrapper">
                <div class="col s3">
                    <img src="/images/snoek.jpg" alt="" class="circle responsive-img">
                </div>
                <div class="col s6">
                    <p>Frances Clare Litten</p>
                    <p>22 | <i class="fas fa-venus"></i> |South Africa</p>
                 </div>
                <div class="col s3">
                    <a class="btn pink darken-1" href="#!">View</a>
                </div>
            </div>
        </div>

        <div class="row card-panel valign-wrapper flow-text">
            <div class="col s3">
                <img src="/images/wknd.jpg" alt="" class="circle responsive-img">
            </div>
            <div class="col s6">
                <p>Frances Clare Litten</p>
                <p>22 | <i class="fas fa-venus"></i> |South Africa</p>
            </div>
            <div class="col s3">
                <a class="btn pink darken-1" href="#!">View</a>
            </div>
        </div>

        <div class="row card-panel valign-wrapper flow-text">
            <div class="col s2">
                <img src="https://www.instagram.com/p/Byu5CKEg166/media/?size=l" alt="" class="circle responsive-img">
            </div>
            <div class="col s7">
                <p>Frances Clare Litten</p>
                <p>22 | <i class="fas fa-venus"></i> |South Africa</p>
            </div>
            <div class="col s3">
                <a class="btn pink darken-1" href="#!">View</a>
            </div>
        </div>
    </div>


</div>